.controls {
	width:300px;
	padding-left: 20px;
}
.padding {
    padding-left: 20px;
}
.widthcontrols {
	width:100px;
}
input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}
 
input.ng-valid.ng-dirty {
	background-color: #78FA89;
}
 
ul {
 margin:0;
}